<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('../../partials/head') %>
<body>
    <%- include('../../partials/header') %>

    <main class="container">
        <section class="main-column">
            <article class="post">
                <h2 class="title">Novo Pagamento</h2>

                <%- include('../../partials/msg') %>

                <% if(typeof usuario == 'object') { %>
                    <div class="info-box">
                        <p>Matrícula: <%= usuario.matricula %></p>
                        <p>Usuário: <%= usuario.nome %></p>
                        <p>CPF: <%= usuario.cpf %></p>
                    </div>
                <% } %>

                <% if(typeof parcelamento == 'object') { %>
                    <form action="/parcelamentos/novo-pagamento" method="POST">
                        <fieldset>
                            <legend>Informações de Pagamento</legend>
                            <input type="number" hidden value="<%= parcelamento.id %>" name="id_parcelamento">
                            <% if(typeof convenio == 'object') { %>
                                <div class="box">
                                    <label for="convenio">Convênio:</label>
                                    <input type="text" id="convenio" value="<%= convenio.nome_convenio %>" disabled>
                                </div>
                            <% } %>
                            <div class="box">
                                <label for="orcamento">Orçamento:</label>
                                <input type="text" id="orcamento" value="<%= parcelamento.valor_total %>" disabled>
                            </div>
                            <div class="box">
                                <label for="parcelas">Qtd. Parcelas:</label>
                                <input type="number" id="parcelas" value="<%= parcelamento.qtd_parcelas %>" disabled>
                            </div>
                            <div class="box">
                                <label for="valor-parcela">Valor Parcela:</label>
                                <input type="text" id="valor-parcela" value="<%= parcelamento.valor_parcela %>" disabled>
                            </div>
                            <div class="box">
                                <label for="data-inicio">Data de início:</label>
                                <input type="text" id="data-inicio" value="<%= parcelamento.data_inicio %>" disabled>
                            </div>
                            <div class="box">
                                <label for="pagamento">Definir como pago:</label>
                                <select name="pago" id="pagamento" required>
                                    <option value="">Selecione</option>
                                    <option value="1">Sim</option>
                                    <option value="0">Não</option>
                                </select>
                            </div>
                            <div class="box">
                                <label for="data-pagamento">Data de Pagamento</label>
                                <input type="date" id="data-pagamento" name="data_pagamento" required>
                            </div>
                        </fieldset>
                        <button class="btn" type="submit">Adicionar Pagamento</button>
                    </form>
                <% } %>

                
            </article>
        </section>
        <%- include('../../partials/sidecolumn') %>
    </main>

        <%- include('../../partials/footer') %>
</body>
</html>