<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    
    <main class="container">
        <section class="main-column">
            <article class="post">
                <h2 class="title">Olá, seja bem-vindo(a) ao sistema do IPMA.</h2>

                <%- include('../partials/msg') %>

                <div class="folder-container">
                    <button class="folder-btn">Click here to open</button>
                    <div class="folder-content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet quaerat dolores debitis? Alias, totam fuga earum deleniti libero ipsam voluptas soluta non quia suscipit qui, vitae laborum eum dolorem. Dolores!</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto magni officiis reprehenderit, dolorem alias debitis. Eaque officiis alias voluptate quae corporis. Quas, quibusdam vel doloremque in ducimus sint est impedit?</p>
                    </div>
                </div>
                
                <p class="paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste harum repellendus unde, nesciunt voluptate illum mollitia eos soluta quam distinctio facere, vitae fugiat quis velit, corporis libero maiores. Nisi, unde.</p>
                <p class="paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste harum repellendus unde, nesciunt voluptate illum mollitia eos soluta quam distinctio facere, vitae fugiat quis velit, corporis libero maiores. Nisi, unde.</p>
            </article>
        </section>

        <%- include('../partials/sidecolumn') %>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>