<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('../../partials/head') %>
<body>
    <%- include('../../partials/header') %>

    <main class="container">
        <section class="main-column">
            <article class="post">
                <h2 class="title">Usuários</h2>

                <form action="/usuarios" method="GET" class="search-form">
                    <label for="search">Buscar Usuário:</label>
                    <input type="text" id="search" name="nome">
                    <button type="submit" class="btn">Pesquisar</button>
                </form>

                <form action="/usuarios/filtrar" method="GET" class="filtro">
                    <label for="consulta">Filtrar Consulta:</label>
                    <select name="tipo" id="consulta">
                        <option value="">Selecione</option>
                        <option value="todos">Todos</option>
                        <option value="ativos">Ativos</option>
                        <option value="aposentados">Aposentados</option>
                    </select>
                    <button class="btn" type="submit">Aplicar filtro</button>
                </form>

                <%- include('../../partials/msg') %>
                
                <table class="usuarios">
                    <thead class="table-head">
                        <tr>
                            <th>Matrícula</th>
                            <th>Nome</th>
                            <th>Aposentado</th>
                            <th>Data de Cadastro</th>
                            <th>Data Nasc.</th>
                            <th>Atualizar</th>
                            <th>Novo Dependente</th>
                            <th>Mais detalhes</th>
                        </tr>
                    </thead>

                    <tbody class="table-body" id="paginated-list">
                        <% if (typeof usuarios == 'object') { %>
                        <% usuarios.forEach(function(usuario) { %>
                            <tr class="table-row">
                                <td><%= usuario.matricula %></td>
                                <td><%= usuario.nome %></td>
                                <td><%= usuario.aposentado %></td>
                                <td><%= usuario.data_cadastro %></td>
                                <td><%= usuario.data_nasc %></td>
                                <td class="td-anchor"><a href="/usuarios/atualizar" class="btn fa fa-edit table-anchor"></a></td>
                                <td class="td-anchor"><a href="/usuarios/cadastrar-dependente/<%= usuario.id %>" class="btn fa fa-user-plus"></a></td>
                                <td class="td-anchor"><a href="/usuarios/consultar/<%= usuario.id %>" class="btn fa fa-address-card-o"></a></td>
                            </tr>
                        <% }); %>
                        <% } %>
                    </tbody>
                </table>
                <nav id="pagination-container">
                    <button class="pagination-button" id="prev-button" title="Previous page" aria-label="Previous page">
                      &lt;
                    </button>
                  
                    <div id="pagination-numbers"></div>
                  
                    <button class="pagination-button" id="next-button" title="Next page" aria-label="Next page">
                      &gt;
                    </button>
                </nav>
            </article>
        </section>

        <%- include('../../partials/sidecolumn') %>
    </main>

    <%- include('../../partials/footer') %>
</body>
</html>