<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('../../partials/head') %>
<body>
    <%- include('../../partials/header') %>

    <main class="container">
        <section class="main-column">
            <article class="post">
                <h2 class="title">Usuários</h2>

                <form action="/usuarios/buscar" method="GET" class="search-form">
                    <label for="search">Buscar Usuário:</label>
                    <input type="text" id="search" name="nome">
                    <button type="submit" class="btn">Pesquisar</button>
                </form>

                <%- include('../../partials/msg') %>
                
                <table class="usuarios">
                    <thead>
                        <tr>
                            <th>Matrícula</th>
                            <th>Nome</th>
                            <th>Aposentado</th>
                            <th>Data de Cadastro</th>
                            <th>Atualizar</th>
                            <th>Novo Dependente</th>
                            <th>Mais detalhes</th>
                        </tr>
                    </thead>

                    <tbody>
                        <% usuarios.forEach(function(usuario){ %>
                            <tr>
                                <td><%= usuario.matricula %></td>
                                <td><%= usuario.nome %></td>
                                <td><%= usuario.aposentado %></td>
                                <td><%= usuario.data_cadastro %></td>
                                <td class="td-anchor"><a href="/usuarios/atualizar" class="btn fa fa-edit table-anchor"></a></td>
                                <td class="td-anchor"><a href="#" class="btn fa fa-user-plus"></a></td>
                                <td class="td-anchor"><a href="/usuarios/consultar/<%= usuario.id %>" class="btn fa fa-address-card-o"></a></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </article>
        </section>

        <%- include('../../partials/sidecolumn') %>
    </main>

    <%- include('../../partials/footer') %>
</body>
</html>