<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('../../partials/head') %>
<body>
    <%- include('../../partials/header') %>


    <main class="container">
        <section class="main-column">
            <article class="post">
                <h2 class="title">Cadastrar Dependente</h2>
                <div class="box">
                    <% if( typeof usuario == 'object') { %>
                        <div class="info-box">
                            <p>Matrícula: <%= usuario.matricula %></p>
                            <p>Titular: <%= usuario.nome %></p>
                            <p>CPF: <%= usuario.cpf %></p>
                        </div>
                    <% } %>
                </div>



                <form action="/usuarios/cadastrar-dependente" class="form-cadastro">
                    <fieldset>
                        <legend>Novo Dependente</legend>
                        <div class="box">
                            <label for="nome">Nome:</label>
                            <input type="text" id="nome" name="nome" required>
                            <span class="required-input">*</span>
                        </div>

                        <div class="box">
                            <label for="identidade">RG:</label>
                            <input type="text" name="identidade" id="identidade">
                        </div>

                        <div class="box">
                            <label for="data-exp">Data de Expedição:</label>
                            <input type="date" id="data-exp" name="dataExp">
                        </div>

                        <div class="box">
                            <label for="orgao-emissor">Órgão Emissor:</label>
                            <input type="text" id="orgao-emissor" name="orgaoEmissor">
                        </div>

                        <div class="box">
                            <label for="cpf">CPF:</label>
                            <input type="text" id="cpf" name="cpf" required>
                            <span class="required-input">*</span>
                        </div>

                        <div class="box">
                            <label for="sexo">Sexo:</label>
                            <select name="sexo" id="sexo">
                                <option value="">Selecione</option>
                                <option value="Masculino">Masculino</option>
                                <option value="Feminino">Feminino</option>
                                <option value="Outro">Outro</option>
                            </select>
                            <span class="required-input">*</span>
                        </div>

                        <div class="box">
                            <label for="estado-civil">Estado Civil:</label>
                            <select name="estadoCivil" id="estado-civil">
                                <option value="">Selecione</option>
                                <option value="solteiro">Solteiro(a)</option>
                                <option value="casado">Casado(a)</option>
                                <option value="viuvo">Viúvo(a)</option>
                                <option value="divorciado">Divorciado(a)</option>
                            </select>
                        </div>

                        <div class="box">
                            <label for="data-nasc">Data de Nascimento:</label>
                            <input type="date" id="data-nasc" name="dataNasc">
                        </div>

                        <div class="box">
                            <label for="cartao-sus">Cartão SUS:</label>
                            <input type="text" id="cartao-sus" name="cartaoSUS">
                        </div>

                        <div class="box">
                            <label for="endereco">Endereço: </label>
                            <input type="text" id="endereco" name="endereco">
                        </div>

                        <div class="box">
                            <label for="numero">Nº endereço:</label>
                            <input type="number" id="numero" name="numeroEnd">
                        </div>

                        <div class="box">
                            <label for="bairro">Bairro:</label>
                            <input type="text" id="bairro" name="bairro">
                        </div>

                        <div class="box">
                            <label for="cidade">Cidade:</label>
                            <input type="text" id="cidade" name="cidade">
                        </div>
                        
                        <div class="box">
                            <label for="nome-mae">Nome da mãe:</label>
                            <input type="text" id="nome-mae" name="nomeMae">
                        </div>

                        <div class="box">
                            <label for="nome-pai">Nome do pai:</label>
                            <input type="text" id="nome-pai" name="nomePai">
                        </div>
                    </fieldset>
            </form>




            </article>
        </section>

        <%- include('../../partials/sidecolumn') %>
    </main>


    <%- include('../../partials/footer') %>
</body>
</html>