<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('../../partials/head') %>
<body>
    <%- include('../../partials/header') %>

    <main class="container max-width">
        <section class="main-column">
            <article class="post">
                <h2 class="title">Parcelamentos</h2>

                <form action="/parcelamentos" method="GET" class="search-form">
                    <label for="search">Buscar por Usuário:</label>
                    <input type="text" id="search" name="nome">
                    <button type="submit" class="btn">Pesquisar</button>
                </form>

                <a href="/parcelamentos/cadastrar" class="btn" rel="next">Novo Parcelamento</a>
                <a href="/parcelamentos" class="btn">Consultar Todos</a>

                <table class="parcelamentos">
                    <thead>
                        <tr>
                            <th>Matrícula</th>
                            <th>Nome</th>
                            <th>Orçamento</th>
                            <th>Nº Parcelas</th>
                            <th>Parc. Pagas</th>
                            <th>Data Início</th>
                            <th>Clínica</th>
                            <th>Aposentado</th>
                            <th>Valor Parc.</th>
                            <th>Atualizar</th>
                            <th>Pagamentos</th>
                        </tr>
                    </thead>

                    <tbody>
                        <% data.forEach(function(usuario){ %>
                            <tr id=<%= usuario.id %>>
                                <td><%= usuario.matricula %></td>
                                <td class="nome"><%= usuario.nome %></td>
                                <td>R$ <%= usuario.valor_total %></td>
                                <td><%= usuario.qtd_parcelas %>X</td>
                                <td><%= usuario.qtd_parcelas_pagas %></td>
                                <td><%= usuario.data_inicio %></td>
                                <td><%= usuario.nome_convenio %></td>
                                <td><%= usuario.aposentado %></td>
                                <td class="valor-parcela">R$ <%= usuario.valor_parcela %></td>
                                <td class="td-anchor"><a href="/parcelamentos/atualizar" class="btn fa fa-edit table-anchor"></a></td>
                                <td class="td-anchor"><a href="/parcelamentos/pagamentos/<%= usuario.id %>" class="btn fa fa-dollar table-anchor"></a></td>
                            </tr>
                        <% }); %>
                        <tr class="total-row">
                            <td colspan="8">Total =</td>
                            <td class="total-price" colspan="1">R$ <%= totalPrice %></td>
                            <td colspan="2"></td>
                        </tr>
                    </tbody>
                </table>
            </article>
        </section>
    </main>

    <%- include('../../partials/footer') %>
</body>
</html>