<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('../../partials/head') %>
<body>
    <%- include('../../partials/header') %>

    <main class="container max-width">
        <section class="main-column">
            <article class="post">
                <h2 class="title">Pagamentos</h2>

                <%- include('../../partials/msg') %>

                <form action="/parcelamentos/pagamentos" method="GET" class="search-form">
                    <label for="search">Buscar Usuário:</label>
                    <input type="text" id="search" name="nome">
                    <label for="date">Data:</label>
                    <input type="date" id="date" name="data">
                    <button type="submit" class="btn">Pesquisar</button>
                </form>

                <a href="/parcelamentos" class="btn">Mostrar Parcelamentos</a>

                <% if(typeof data == 'object') { %>
                    <table class="pagamentos">
                        <thead>
                            <tr>
                                <th>Matrícula</th>
                                <th>Nome</th>
                                <th>Orçamento</th>
                                <th>Nº Parcelas</th>
                                <th>Valor Parc.</th>
                                <th>Data Início</th>
                                <th>Data Pagamento</th>
                                <th>Clínica</th>
                                <th>Atualizar</th>
                                <th>Novo Pag.</th>
                                <th>Remover</th>
                            </tr>
                        </thead>
    
                        <tbody>
                            <% data.forEach(function(selection){ %>
                                <tr id=<%= selection.id %>>
                                    <td><%= selection.matricula %></td>
                                    <td><%= selection.nome %></td>
                                    <td>R$<%= selection.valor_total %></td>
                                    <td><%= selection.qtd_parcelas %></td>
                                    <td>R$<%= selection.valor_parcela %></td>
                                    <td><%= selection.data_inicio %></td>
                                    <td><%= selection.data_pagamento %></td>
                                    <td><%= selection.nome_convenio %></td>
                                    <td class="td-anchor"><a href="/parcelamentos/atualizar" class="btn fa fa-hdd-o table-anchor"></a></td>
                                    <td class="td-anchor">
                                        <form action="/parcelamentos/novo-pagamento" method="POST" class="td-form">
                                            <input type="hidden" value="<%= selection.id_parcelamento %>" name="id_parcelamento">
                                            <button type="submit" class="btn fa fa-dollar table-anchor"></button>
                                        </form>
                                    </td>
                                    <td class="td-anchor">
                                        <form action="/parcelamentos/remover-pagamento" method="POST" class="td-form">
                                            <input type="hidden" value="<%= selection.id_pagamento %>" name="id">
                                            <button type="submit" class="btn table-anchor fa fa-close remove"></button>
                                        </form>
                                    </td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                <% } %>
            </article>
        </section>
    </main>

    <%- include('../../partials/footer') %>
</body>
</html>